# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 42
b = 42
print(id(a))
print(id(b))
print(id(a) == id(b))
print(a == b)

140429642565136
140429642565136
True
True

**Було обрано ціле число 42 та створено дві змінні, які рівні за значенням та посилаються на один і той самий об'єкт в пам'яті. **

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
my_variable = True
boolean = isinstance(my_variable, bool)
integer = isinstance(my_variable, int)
print(boolean)
print(integer)

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
my_int = 15
my_float = 4.6
a = my_int + my_float
b = my_int - my_float
c = my_int / my_float
d = my_int * my_float
e = my_int // my_float
f = my_int % my_float
g = my_int **2
h = my_float **2
print(a, b, c, d, e, f, g, h,)

19.6 10.4 3.2608695652173916 69.0 3.0 1.200000000000001 225 21.159999999999997

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
my_float = 4.6
my_bool = True
print(int(my_float))
print(int(my_bool))

4
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
string1 = ''
string2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
apostrophe = 'lalala\'s'
raw = r'lalala\'s'
print(apostrophe)
print(raw)

lalala's
lalala\'s

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [1]:
first_line = "My dog is crazy"
a = first_line.split(" ")
print(a)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [2]:
list1 = [1, 2, 3, 4, 5]
list2 = list("abcdef")
length_list1 = len(list1)
print(length_list1)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [4]:
my_list = [1, 'two', 3.0, 'qwe', 5, True, 'six', [7, 8], (9, 10), 'abc']
modified_list = my_list[2:-2]
print(my_list)
print(modified_list)

[1, 'two', 3.0, 'qwe', 5, True, 'six', [7, 8], (9, 10), 'abc']
[3.0, 'qwe', 5, True, 'six', [7, 8]]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [5]:
my_tuple = (42,)
print(my_tuple)

(42,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості: обидва типи даних використовуються для зберігання колекції елементів; як списки, так і кортежі, підтримують індексацію.
Відмінності: списки є змінними, а кортежі незмінними; список створюється за допомогою квадратних дужок [], а кортежі за допомогою круглих ().

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [8]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
tuple2 = tuple(tuple1[-2::-2])
print(tuple1)
print(tuple2)

(1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [10]:
set1 = set()
set1.add(24)
set1.add('apple')
set1.add(314)
print(set1)

{24, 314, 'apple'}

Множини є змінним типом даних, тому що їх можна змінювати, додаючи та видаляючи елементи після їхнього створення.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [11]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

Деякі елементи "зникають" у множині через її унікальність та властивість вилучення дублікатів.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [14]:
my_dict = {}
my_dict[1] = 'integer_key'
my_dict['two'] = 'string_key'
my_dict[3.0] = 'float_key'
my_dict[(4, 5)] = 'tuple_key'
print(my_dict)

{1: 'integer_key', 'two': 'string_key', 3.0: 'float_key', (4, 5): 'tuple_key'}

Ключі у словнику повинні бути незмінними об'єктами. Список є змінним типом даних і він не може бути використаний як ключ у словнику.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.